Django==1.5.7
PIL==1.1.7
Pillow==2.4.0
-e git://github.com/jonashagstedt/bootstrap3-django-admin.git@481b8ed3c3162e9ee08170b6f7b140623b502890#egg=admin_bootstrap3-master
argparse==1.2.1
django-appconf==0.6
django-compressor==1.3
django-crispy-forms==1.4.0
django-mongodb-engine==0.5.1
djangotoolbox==1.6.2
mongoengine==0.8.7
mongoengine-extras==0.0.1
pymongo==2.7
six==1.6.1
wsgiref==0.1.2
