{% extends "base.html" %}

{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
<table class="form-register">
{% csrf_token %}
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
	<td><input type="submit" value="login" /></td>
</tr> 
</table>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% if form.errors %}
<p style="color:red" align="center">Your username and password didn't match.</br> Please try again.</p>
{% endif %}
{% endblock %}