	{% extends "base.html" %}
{% block title %}Ajuda{% endblock %}
{% block content %}

{% if form.errors %}
{% endif %}
<div class="content-manual">
	<div class="content-manual-img">
	<img src="{{STATIC_URL}}images/mobil.png" class="img-mobil" />
	</div>
	<div class="content-text-manual">
	<p>Aquí trobaràs una petita guia per aprendre a distingir els diferents elements de l’aplicació mòbil.<br />
	El primer que veurem al encendre l’aplicació es la pantalla de registre.<br /><br /></p>
	</div>
	<a href="{{STATIC_URL}}documents/manual-usuari-app.pdf" target="_blank">Manual d'Usuari App</a>
</div>
<div class="content-manual float-right">
	<div class="content-manual-img">
	<img src="{{STATIC_URL}}images/ordinador.png" class="img-pc"/>
	</div>
	<div class="content-text-manual">
	<p>Aquí trobaràs tot el que et faci falta per navegar per a la nostra web. <br />
	Només entrant a la web es pot apreciar la simplicitat de la web com també la navegació força explicita, que ens permetrà accedir a la diferents pàgines del projecte.</p>
		</div>
	<a href="{{STATIC_URL}}documents/manual-usuari-web.pdf" target="_blank">Manual d'Usuari Web</a>
</div>
{% endblock %}