{% extends "base.html" %}

{% block content %}
Un joc / experiència on el jugador pugui arribar a materialitzar aquells elements del joc que li resultin interessants. L’experiència del jugador seria: primer tindria una fase on buscaria i localitzaria elements (objectes o criatures) en 3D, per afegir-los a la seva col·lecció, aquesta col·lecció la podrà anar revisant a través del mòbil o la web i comparar-la amb altres usuaris, mentre interactua amb ells com a una xarxa social. A part ens agradaria que com extra l’usuari pugui arribar a crear aquests elements gràcies a una impressora 3D, aconseguint així figuretes reals dels elements en 3D.
{% endblock %}
